<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.draw_test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="draw_test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity android:name="com.example.draw_test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.draw_test.draw"
            android:label="draw_test" />

        <activity
            android:name="com.example.draw_test.text"
            android:label="draw_test" />

        <activity
            android:name="com.example.draw_test.text_HandWrite"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            android:label="draw_test" />

        <activity
            android:name="com.example.draw_test.Color_Books"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            android:label="draw_test" />

        <activity
            android:name="com.example.draw_test.draw_LineWidth"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"
            android:label="draw_test" />

    </application>

</manifest>